@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #111;
    color: lightcyan;
}

.wrapper {
    display: flex;
    width: 90%;
    justify-content: center;
}

.inner-wrapper {
    justify-content: space-evenly;
}

.container{
    width: 500px;
    height: 300px;
    background-color: #333;
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
    
}
.section {
    text-align: center;
    font-size: 12px;
}

.meter-empty {
    width: 200px;
    height: 640px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    overflow: hidden;
}

.meter-fill {
    width: 100%;
    height: 0px;
    margin-right: 1px;
    background-color: rgb(75, 184, 147);
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
}

.emotions{
    width: 40px;
    height: 640px;
    background-color: rgba(51, 51, 51, 0.082);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    overflow: hidden;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    align-content: flex-start;
    margin-left: 1%;
    overflow-y: scroll;
    
}

.tasks {
    background-color: rgb(85, 85, 199);
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
}

.tasks img {
    width: 100%;
    border-radius: 5px;
    border: solid #000 1px;
}



.big-tasks {
    background-color: rgb(83, 32, 49) ;
    width: 100%;
    height: 25%;
    margin: 0;
}

.big-tasks img {
    height: 160px;
    opacity: .5;
}

.mini-tasks {
    background-color: palevioletred ;
    width: 100%;
    height: 6.25%;
    margin: 0;
}

.mini-tasks img {
    height: 40px;
    
}

 