@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #111;
}

.wrapper {
    display: flex;
    width: 90%;
    justify-content: center;
}

.inner-wrapper {
    justify-content: space-evenly;
}

.container{
    width: 500px;
    height: 300px;
    background-color: #333;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

.meter-empty {
    width: 200px;
    height: 620px;
    margin-right: 1px;
    position: relative;
}

.meter-fill {
    width: 200px;
    height: 400px;
    margin-right: 1px;
    background-color: rgb(75, 184, 147);
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
}

.emotions{
    width: 50px;
    height: 620px;
    margin-left: 1px;
    background-color: rgba(51, 51, 51, 0.082);
}


.choice {
    background-color: rgb(85, 85, 199);
    width: 50px;
    height: 50px;
    margin: 5px;
}

